---
http_interactions:
- request:
    method: post
    uri: https://c3206144.web.cddbp.net/webapi/xml/1.0/
    body:
      encoding: US-ASCII
      string: ! "<QUERIES>\n  <LANG>eng</LANG>\n  <AUTH>\n    <CLIENT>3206144-286C181EC38AC3D49148BC143405E50A</CLIENT>\n
        \   <USER>264393647426601194-B80204C66DA0F70D294B57C66F9206EB</USER>\n  </AUTH>\n
        \ <QUERY CMD=\"LYRIC_SEARCH\">\n    <TEXT TYPE=\"LYRIC_FRAGMENT\">hat</TEXT>\n
        \   <RANGE>\n      <START>15</START>\n      <END>17</END>\n    </RANGE>\n
        \ </QUERY>\n</QUERIES>\n"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "\n<RESPONSES>\n <RESPONSE STATUS=\"OK\">\n   <RANGE>\n      <COUNT>4053</COUNT>\n
        \     <START>15</START>\n      <END>17</END>\n   </RANGE>\n   <LYRIC ORD=\"1\">\n
        \     <GN_ID>117639196-BFFF2BA7645797BF1F52A483C0B7C07E</GN_ID>\n      <TITLE>Mellowship
        Slinky In B Major</TITLE>\n      <ARTIST>Red Hot Chili Peppers</ARTIST>\n
        \     <CONTRIBUTOR>\n         <NAME>BALZARY, MICHAEL &apos;FLEA&apos;</NAME>\n
        \        <CONTRIBUTION>\n            <CONTRIBUTION_TYPE MEDIASPACE=\"MUSIC\"
        ID=\"6\">Lyricist</CONTRIBUTION_TYPE>\n         </CONTRIBUTION>\n      </CONTRIBUTOR>\n
        \     <CONTRIBUTOR>\n         <NAME>SMITH, CHAD GAYLORD</NAME>\n         <CONTRIBUTION>\n
        \           <CONTRIBUTION_TYPE MEDIASPACE=\"MUSIC\" ID=\"6\">Lyricist</CONTRIBUTION_TYPE>\n
        \        </CONTRIBUTION>\n      </CONTRIBUTOR>\n      <CONTRIBUTOR>\n         <NAME>KIEDIS,
        ANTHONY</NAME>\n         <CONTRIBUTION>\n            <CONTRIBUTION_TYPE MEDIASPACE=\"MUSIC\"
        ID=\"6\">Lyricist</CONTRIBUTION_TYPE>\n         </CONTRIBUTION>\n      </CONTRIBUTOR>\n
        \     <CONTRIBUTOR>\n         <NAME>FRUSCIANTE, JOHN</NAME>\n         <CONTRIBUTION>\n
        \           <CONTRIBUTION_TYPE MEDIASPACE=\"MUSIC\" ID=\"6\">Lyricist</CONTRIBUTION_TYPE>\n
        \        </CONTRIBUTION>\n      </CONTRIBUTOR>\n      <CONTRIBUTOR>\n         <NAME>MOEBETOBLAME
        MUSIC</NAME>\n         <CONTRIBUTION>\n            <CONTRIBUTION_TYPE MEDIASPACE=\"MUSIC\"
        ID=\"7\">Publisher</CONTRIBUTION_TYPE>\n         </CONTRIBUTION>\n      </CONTRIBUTOR>\n
        \     <LYRIC_SAMPLE>\n         <LINE ORD=\"1\">Being that I&apos;m the duke
        of my domain</LINE>\n         <LINE ORD=\"2\">My hat goes off to Mark Twain</LINE>\n
        \        <LINE ORD=\"3\">Singing a song about what true men don&apos;t do</LINE>\n
        \        <LINE ORD=\"4\">Killing another creature, that&apos;s kind of blue</LINE>\n
        \     </LYRIC_SAMPLE>\n   </LYRIC>\n   <LYRIC ORD=\"2\">\n      <GN_ID>117372910-AC26EE2AB692A1012FA8D3323A3A32C2</GN_ID>\n
        \     <TITLE>Heat</TITLE>\n      <ARTIST>50 [...]
[...]
