<header id="pageHeader">
<h1>BeatBrush</h1>
<p class="new-search" style="display: none;"><a href=#>New search</a></p>
</header>

<div id="content">
  <div id="ajax-loader">
    <%= image_tag 'ajax-loader.gif' %>
  </div>
  <div id="art">

  </div>
  <div id="music">

  </div>
  <div id="results">

  </div>
  <form id="music_search" style="display:none;">
    <h1>Type in something random.</h1>
    <input type="text" id="musicSearch">
    <input type="submit">
  </div>
</div>
