<div id="ajax-loader">
  <%= image_tag 'ajax-loader.gif' %>
</div>
<div id="results">

</div>
<form id="search" style="display:none;">
  <h1>Type in something random.</h1>
  <input type="text" id="musicSearch">
  <input type="submit">
</div>


