#art {
  width: 49%;
  float: right;
  &> div {
    .image {
      text-align: center;
      img { max-width: 100%; }
    }
    -webkit-transition: 0.3s all ease-out;
    position: relative;
    opacity: 0.0;
    right: 100px;
    &.imagesLoaded {
      right: 0;
      opacity: 1.0;
    }
    &.slideOut {
      right: -1000px;
      opacity: 0;
    }
    .description { 
      display: none; 
      margin: 0 auto;
      max-width: 440px;
    }
    .expand-description {
      text-align: center;
      a {
        color: #555;
        font-size: 0.9em;
        text-transform: uppercase;
      }
    }
  }
}
