#content {
  #inner-content {
    min-width: 990px;
    margin: 0 auto;
  }
  min-width: 990px;
  overflow: hidden;
}
.highlight { 
  background-color: hsl(0, 51%, 92%);
border-bottom: 1px dotted black; 
}

#start_search .signup {
  font-family: verdana;
  font-size: 11px;
  a {
    color: #555;
  }
}

header button {
  border: 1px solid #AAA;
  background-color: #eee;
  font-size: 13px;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}
