header {
  height: 35px;
  width: 100%;
  margin-bottom: 2em;
  position: relative;

  h1 {
    display: inline;
    position: absolute;
    left: 10px;
    top: 2px;
    width: 200px;
    height: 25px;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-family: verdana;
    padding: 0px;
    margin: 0px;
  }

  button {
    position: relative;
    z-index: 15;
  }

  .new-search {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 100px;
    height: 25px;
    margin: auto;
    a {
      color: blue;
      text-decoration: none;
      font-family: verdana;
      font-size:13px;
    }
  }

  .notice {
    position: relative;
    left: 130px;
    position: relative;
    top: 6px;
  }

  #term-wrapper {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 29px;
  }
  #term {
    display: inline;
  }
}
