#word {
  position: fixed;
  right: 200px;
  font-size: 22px;
}

#music {
  margin-left: 3px;
  margin-top: 23px;
}

#results {
  margin-top: 23px;
}

#results .music {
  margin: 1em auto;
}

.music {
  overflow: auto;
  margin: 1em;
  -webkit-transition: 0.3s all ease-out;
  position: relative;
  opacity: 0.0;
  left: 100px;;
  &.activated {
    left: 0;
    opacity: 1.0;
  }
  &.slideOut {
    left: -1000px;
    opacity: 0;
  }
  .image {
    text-align: center;
    margin-top: 3em;
  }
  .name { 
    margin-top: 0; 
    text-align: center;
    margin: 1em 0;
  }
  .lyrics {
    margin: auto;
    max-width: 340px;
    display: none;
  }
  .expand-lyrics {
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.2s all ease-in-out;
    a {
      color: #555;
      font-size: 0.9em;
      text-transform: uppercase;
    }
  }
  &.withFullLyrics {
    .expand-lyrics {
      opacity: 1.0;
    }
  }



  &.withFullLyrics {
    .name { font-size: 1.2em; }
    .lyrics { font-style: normal; }
    cursor: default;
  }
}


#start_search {
  margin: 0 auto;
  width: 400px;
  margin-top: 200px;
  text-align: center;
  h1 {
    font-size: 1.0em;
    text-transform: uppercase;
    font-family: verdana;
    letter-spacing: 0.1em;
  }
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 400px;
    margin: 0 auto;
  }
  input[type="submit"] {
    display: none;
  }
}
