#word {
  position: fixed;
  right: 200px;
  font-size: 22px;
}

.music {
  width: 500px;
  overflow: auto;
  .image {
    float: left;
    padding-right: 10px;
  }
  .lyrics { font-style: italic; }

  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1.0;
  }
}

.highlight { background-color: yellow; }

#search {
  margin: 0 auto;
  width: 400px;
  margin-top: 200px;
  text-align: center;
  h1 {
    font-size: 1.0em;
    text-transform: uppercase;
    font-family: verdana;
    letter-spacing: 0.1em;
  }
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 400px;
    margin: 0 auto;
  }
  input[type="submit"] {
    display: none;
  }
}
